<div class="links-container">
    <ul>
        <li (click)="btnClick('home')">Home</li>
        <li (click)="btnClick('products')">Products</li>
        <li (click)="btnClick('about')">About</li>
        <li (click)="btnClick('contact')">Contact</li>
    </ul>
</div>

<app-social-links>
    <a #link href="www.facebook.com"><img src="../../assets/img/facebook.svg" alt="facebook" width="20px"></a>
    <a #link href="www.google.com"><img src="../../assets/img/github.svg" alt="github" width="20px"></a>
    <a #link href="www.google.com"><img src="../../assets/img/envelope.svg" alt="mail" width="20px"></a>
</app-social-links>