<div class="container">
    <div class="start">
        <img [src]="product?.imgUrl" alt="product">
    </div>
    <div class="end cloumn">
        <h1 class="title">{{ product?.title | uppercase}}</h1>
        <p class="description">{{ product?.description }}</p>
        <p class="price">{{ product?.price | currency}}</p>
        <div *ngIf="showBtns" class="bottom">
            <button (click)="addToCart()" class="add-btn" [hidden]="curUser == null">{{'Add to Cart' | uppercase}}</button>
            <button *ngIf="hasPermission" [routerLink]="['/edit-product', product?._id]" class="edit-btn">{{'edit' | uppercase}}</button>
        </div>
    </div>
</div>