<div class="container">
    <div class="col-50">
        <img [src]="product.imgUrl" alt="product">
    </div>
    <div class="col-50">
        <h1 class="title">{{ product.title | uppercase}}</h1>
        <p class="description">{{ product.description }}</p>
        <p class="price"> price: {{ product.price | currency}}</p>
        <button (click)="onBackClick()" class="back-btn">{{'Back' | uppercase}}</button>
        <button (click)="addToCart()" class="add-btn" [hidden]="userService.getCurUser() == null">{{'Add to Cart' | uppercase}}</button>
        <button (click)="edit()" class="edit-btn">{{'edit' | uppercase}}</button>
    </div>
</div>