<mat-toolbar color="primary">
    <button mat-icon-button (click)="ToggleSideBar()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1>{{ userName }}</h1>
    <div class="right">
        <select class="lang-select" (change)="onLangChange($event.target.value)">
            <option *ngFor="let lang of langs" [value]="lang">{{ lang }}</option>
        </select>
        <div *ngIf="userName == null; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><button class="log-btn login" routerLink="/login">login</button></ng-template>
        <ng-template #elseBlock><button class="log-btn logout" (click)="logout()">logout</button></ng-template>
    </div>
</mat-toolbar>