
main {
    flex: 4;
}

.container {
    margin: 20px;
    padding: 15px;
}

mat-sidenav-container{
    height: calc(100% - 64px);
}

mat-sidenav, mat-sidenav-content{
    padding: 16px;
}

mat-sidenav{
    width: 200px;
}