li:hover {
    cursor: pointer;
}

li {
    padding: 5px;
    list-style-type: none;
}

a {
    margin: 5px;
    padding: 5px;
}

app-social-links a img {
    width: 20px;
}

nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.blue {
    color: rgb(29, 67, 117);
}

li {
    list-style-type: none;
}


/* nav {
    background-color: rgb(135, 197, 233);
    height: 100%;
} */