<nav>
    <div class="links-container">
        <ul>
            <li routerLink="/home" routerLinkActive="active-link">{{ 'Home' | localize }}</li>
            <li routerLink="/products" routerLinkActive="active-link">{{'Products' | localize }}</li>
            <li routerLink="/cart" routerLinkActive="active-link" *ngIf="userName != null">{{'Cart' | localize}} <span class="blue">{{cartCount}}</span></li>
            <li routerLink="/about" routerLinkActive="active-link">{{'About' | localize }}</li>
            <li routerLink="/add-product" routerLinkActive="active-link" *ngIf="hasPerm">{{'Add product' | localize }}</li>
            <li routerLink="/contact" routerLinkActive="active-link">{{'Contact' | localize }}</li>
        </ul>
    </div>

    <app-social-links>
        <a #link href="https://www.facebook.com/"><img src="../../assets/img/facebook.svg" alt="facebook"></a>
        <a #link href="https://github.com/samerkinaan92"><img src="../../assets/img/github.svg" alt="github"></a>
        <a #link href="mailto:samerkinaan@gmail.com"><img src="../../assets/img/envelope.svg" alt="mail"></a>
    </app-social-links>
</nav>