<nav>
    <div class="links-container">
        <ul>
            <li (click)="btnClick('home')">{{ 'Home' | localize:curLang }}</li>
            <li (click)="btnClick('products')">{{'Products' | localize:curLang }}</li>
            <li (click)="btnClick('cart')" [hidden]="userService.getCurUser() == null">{{'Cart' | localize:curLang }} <span class="blue">{{cartService.getItemsCount()}}</span></li>
            <li (click)="btnClick('about')">{{'About' | localize:curLang }}</li>
            <li (click)="btnClick('add product')" [hidden]="!userService.hasPermission()">{{'Add product' | localize:curLang }}</li>
            <li (click)="btnClick('contact')">{{'Contact' | localize:curLang }}</li>
        </ul>
    </div>

    <app-social-links>
        <a #link href="https://www.facebook.com/"><img src="../../assets/img/facebook.svg" alt="facebook"></a>
        <a #link href="https://github.com/samerkinaan92"><img src="../../assets/img/github.svg" alt="github"></a>
        <a #link href="mailto:samerkinaan@gmail.com"><img src="../../assets/img/envelope.svg" alt="mail"></a>
    </app-social-links>
</nav>