<div class="container" [ngSwitch]="curPage">
    <app-home-page *ngSwitchCase="'home'"></app-home-page>
    <app-about-page *ngSwitchCase="'about'"></app-about-page>
    <app-products-page *ngSwitchCase="'products'"></app-products-page>
    <app-cart-page *ngSwitchCase="'cart'"></app-cart-page>
    <app-login-form *ngSwitchCase="'login'"></app-login-form>
    <app-product-form *ngSwitchCase="'add product'"></app-product-form>
    <app-contact-form *ngSwitchCase="'contact'"></app-contact-form>
    <app-home-page *ngSwitchDefault></app-home-page>
</div>